* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

html {
    scroll-behavior: smooth;
}

  /* navbar */

nav ul li{
    list-style-type: none;
}

header ul {
    border-radius: 1px;
    border-bottom: solid 2px rgb(0, 0, 0);
}

header a {
    transition: 1s;
    color: white;
}

header a:hover {
    transition: 500ms;
    color: black;
}

header li img {
    transition: 1s;
    filter: drop-shadow();
}

header li img:hover {
    transition: 1s;
    filter: drop-shadow(2px 2px 2px black);
}

header ul {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 1em 1em;
    transition: 250ms ease-in;
    background-color: #393D3F;
}

#logo {
    height: 50px;
}

  /* background */

.bgshadow {
    background: linear-gradient(white,#393D3F 100%);
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#one{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 250px 0px;
}
  /* First page */

#IntroText{
    animation: fadein 2s;
}

@keyframes fadein {
    from {  opacity: 0; }
    to   {  opacity: 1; }
}

.appear1 {
    display: flex;
    flex-direction: row;
    color: #393D3F;
    align-items: center;
    text-align: center;
}

.green {
    max-width: 30%;
    margin: 5%;
}

#three {
    flex-direction: row;
    text-align: center;
    color: #393D3F;
    flex-flow: wrap;
    display: flex;
}

.ProductTitle {
    text-align: left;
}

#Size {
    margin: 1%;
    width: 20%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#amount {
    margin: 1%;
    width: 20%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

#InfoText {
    font-size: 25px;
}

#Price {
    font-size: 30px;
}

.threebuy {
    flex-direction: column;
    top: -100px;
    text-align: left;
}

@media  (max-width: 1400px) {
    .threebuy {
        text-align: center;
        top: 30px;
    }

    .ProductTitle {
        text-align: center;
    }
}



#four {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-shadow: 2px 2px 1px #393D3F;
}

#four img {
    margin: 1%;
    max-height: 40%;
    max-width: 400px;
}

@media (max-width: 1000px) {
    #four {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#TutorialText {
    font-size: 30px;
}

#five {
    height: 25vh;
    background-color: #393D3F;
}

#five p {
    text-shadow: 2px 2px 2px black;
    margin: 1%;
}

  /* Fade in-Fade out */

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

  /* Image Gallery */

.slideshow-container {
    max-width: 500px;
    margin: 1%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 25%;
    width: auto;
    padding: 76px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    filter:drop-shadow(1px 1px 1px black);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

 /* buy button */ 

#BuyButton {
    border: solid;
    padding: 10px;
    font-size: 20px;

}

#BuyButton:hover {
    cursor: pointer;
}
