body
{
    background-color: black;
    margin: 0;
    padding: 0%;
}

header {
    background-color: aquamarine;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.container
{
    background-color: rgb(20, 20, 20);
    color: white;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.stranica {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

a {
    color: wheat;
}