#background-canvas {
	width: 100%;
	height: 100%;
	z-index: 1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    text-align: center;
    display: flex;
}

#videoLOL {
	z-index: 2;
}

#button1 {
    height: 50px;
    width: 200px;
    border: 0px;
    border-radius: 5px;
    margin-top: 5px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.canvas1{
    z-index: 1;
    position: absolute;
    visibility: hidden;
}

.container {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* windows 95 */

#container2 {
    padding-top: 15%;
	display: block;
	width: 500px;
	min-height: 300px;
	margin: auto;
    overflow: hidden;
	visibility: hidden;
	z-index: 1;
}

@media only screen and (max-height: 800px) {
    #videoLOL {
		width: 40%;
    }
	#container2 {
		padding-top: 10%;
	}
}

@media only screen and (max-width: 800px) {
    #videoLOL {
		width: 40%;
    }
	#container2 {
		padding-top: 40%;
	}
}

@media only screen and (max-height: 500px) {
    #videoLOL {
		width: 40%;
    }
	#container2 {
		padding-top: 1px;
	}
}

.notepad {
	background: #BFBFBF;
	display: block;
	min-height: 100px;
	width: 100%;
	padding: 4px;
	-webkit-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 5px 5px 5px 1px rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
	border: 1.4px solid white;
}

.notepad-bar {
	width: 100%;
	background: #01007A;
	height: 23px;
}

.notepad-title {
	color: white;
	letter-spacing: .5px;
	word-spacing: .5px;
	padding-left: 5px;
	float: left;
	font-weight: 600;
}

.notepad-minimize, .notepad-maximize, .notepad-exit	{
	height: 100%;
	display: block;
	float: right;
	padding-top: 3px;
	padding-bottom: 3px;
}

.notepad-exit {
	padding-left:  1px;
	padding-right: 5px;
}

.button-minimize, .button-maximize, .button-exit  {
	background: #BFBFBF;
	height: 70%;
	width: 19px;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 1px solid white;
	border-top: 1px solid white;
	}

.button-exit {
	font-size: 55%;
	margin: auto;
	text-align: center;
}

.notepad-icon {
	height: 100%;
	float: left;
	padding-top: 1px;
}

.notepad-icon img {
	object-fit: fill;
	display: block;
	height: 19px;
	width: 19px;
}

.icon-maximize {
	border-bottom: 1px solid black;
	border-top: 3px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	height: 80%;
	width: 80%;
	display: block;
	margin: auto;
	margin-top: 1.2px;
}

.icon-minimize {
	border-bottom: 2px solid black;
	width: 80%;
	height: 80%;
	display: block;
	margin: auto;
	margin-left: 1.5px;
}

.notepad-settings {
	width: 100%;
	float: left;
	display: inline-flex;
	margin-left: 10px;
	margin-bottom: 5px;
}

.settings-text {
	padding-right: 15px;
}

.underline {
	text-decoration: underline;
}

.notepad-content {
	height: 400px;
	width: 92%;
	background: white;
	clear: both;
	border-radius: 1px;
	border: 1.2px solid black;
	overflow: auto;
	padding: 5px;
}