* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header ul {
    background-color: #000000;
    padding: 20px;
    margin: 0px;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border-bottom: 2px solid white;
}

ul li {
    font-size: 2vw;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

#one {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#two {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#three {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#four {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#five {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
}

#one h2, #two h2, #three h2, #four h2 {
    color: chocolate;
}

#five a {
    color:rgb(73, 119, 204);
}